<title>Home</title>
<%- include('./partials/header') %>
<%- include('./partials/nav') %>



<div class="container w-75  h-75 mt-5 bg-dark d-flex justify-content-center align-items-center flex-direction-column">
  <h1 class="text-white text-center">List your Properties here</h1>
  <a href="/form" class="btn btn-primary">Click me to list</a>
</div>

<%- include('./partials/footer') %>