    <nav>
        <ul class="nav justify-content-between px-5 py-3 bg-dark text-white">
        <h4>PropertyWala</h4>
        <li class="nav-item">
            <a class="nav-link active text-white border-1 rounded-full " aria-current="page" href="/">Home</a>
            </li>
        <li class="nav-item">
            <a class="nav-link active text-white border-1 rounded-full " aria-current="page" href="/listed-properties">Listed Prperties</a>
            </li>
        </ul>
    </nav>