<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>LogIn</title>
</head>
<body>
    <form method="post" action="/user/login">
        <h1>LogIn</h1>
        <div class="row">
        <input name="email" required type="text" placeholder="example@gmail.com">
        </div>
        <div class="row">
        <input type="text" required name="password" placeholder="password">
        </div>
        <div class="btns">
            <button type="submit">LogIn</button>
            <a href="/signup">SignUp</a>
        </div>
    </form>
</body>
</html>