<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">
    <title>signup</title>
</head>
<body>
    <form method="post" action="/user">
        <h1>SignUp</h1>
        <input name="name" required type="text" placeholder="Enter your name">
        <input name="email" required type="text" placeholder="example@gmail.com">
        <input type="text" required name="password" placeholder="password">
        <button type="submit">SignUp</button>
    </form>
</body>
</html>