<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>SignUp</h1>
    <form method="post" action="/user">
        <label>Enter your Name : </label>
        <input name="name" required type="text">
        <label>Enter your Email : </label>
        <input name="email" required type="text" placeholder="example@gmail.com">
        <label>Enter your Password : </label>
        <input type="text" required name="password" placeholder="123...">
        <button type="submit">SignUp</button>
    </form>
</body>
</html>